@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Andale mono", "Courier new", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    padding: 1rem
  }

  p {
    line-height: 2rem;
  }
}

:root {
  --foreground-rgb: 19, 15, 23;
  --background-rgb: 251, 248, 241
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 251, 248, 241;
    --background-rgb: 19, 15, 23;
  }
}